@use "../../index.scss";

.assetReceiving {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 4;
  overflow: auto;
  max-height: 600px;
  padding-top: 10px;

  &__title {
    color: index.$secondary;
    font-size: 24px;
    font-weight: 800;
  }

  &__form {
    display: flex;
    flex-direction: column;
    overflow: auto;
    min-width: 200px;
    gap: 20px;
    padding-top: 5px;
  }
}
