@use "../index.scss";

.editFixedAsset {
  display: flex;
  flex-direction: column;
  padding: 0 5px;
  width: auto;
  overflow: auto;
  gap: 10px;

  @media (max-width: 900px) {
    width: 300px;
    padding: 0;
  }

  @media (max-width: 350px) {
    width: auto;
    padding: 0;
  }

  &__container {
    padding-right: 10px;
    margin-right: -5px;
    height: auto;
    overflow: auto;

    @media (max-width: 900px) {
      margin-right: 0;
    }
  }

  &__columns {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 30px;

    @media (max-width: 900px) {
      display: block;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }
  }

  &__title {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    gap: 5px;
    margin-left: -10px;
  }

  &__textFieldSpacing {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__thirdColumn {
    padding-right: 10px;

    @media (max-width: 900px) {
      padding-right: 0;
    }
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 10px;
    width: 100%;

    @media (max-width: 900px) {
      gap: 5px;
      margin-top: 10px;
    }
  }

  &__vr {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    border: 0.25px solid #a6a6a625;
    height: 100vh;
    height: 100svh;
    @media (max-width: 900px) {
      display: none;
    }
  }
}
