@use "../../index.scss";

.addFixedAsset {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__title {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__subtitle {
    font-weight: bold;
    color: index.$secondary;
    font-family: Anton;
    font-size: 16px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 78vh;
    padding: 0 10px;
    // margin: 0 10px;
    overflow: auto;
  }

  &__type {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
  }

  &__status {
    display: flex;
    gap: 10px;

    @media (max-width: 600px) {
      flex-wrap: wrap;
      gap: 15px;
    }
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 10px;

    @media (max-width: 600px) {
      flex-wrap: wrap;
      width: 100%;
    }
  }
}
