//* COLORS
$primaryLight: #fabb5b;
$primary: #f9aa33;
$primaryDark: #ae7623;
$primaryText: #fc9701;
$bg: #f5c9861c;
$bg: #f9aa33da;

$secondaryLight: #5c6d77;
$secondary: #344955;
$secondaryDark: #24333b;
$secondaryText: #90a0aac9;

$tertiaryLight: #358a8c;
$tertiary: #036d70;
$tertiaryDark: #024c4e;

$quaternaryLight: #57a482;
$quaternary: #2e8e63;
$quaternaryDark: #206345;

$black: #2c3639;
$background: #eeeeee;
$text: #2c3639;
$divider: #c7c7c742;

$scrollBar: #a6a6a6;
$scrollBar: #dbdbdb3c;

$pending: #c59e00;
$pending: #f5cc2a2f;

// * CSS

:root {
  // --primary: #f9aa33;

  font-family: "Anton", Impact, "Josefin Sans", "Poppins", "Raleway", "Roboto", sans-serif;

  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  scroll-behavior: smooth;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  overscroll-behavior: none;
}

::-ms-reveal {
  display: none;
}

// SCROLL BAR
/* width */
::-webkit-scrollbar {
  z-index: 100;
  width: 7.5px;
  max-height: 8px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #e4e4e453;
  border-radius: 5px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #b0b2b6;
  border-radius: 5px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(139, 139, 139);
}

// ? Animations ----------------------------------------------------------------

/**
 * ----------------------------------------
 * animation slide-in-bck-center
 * ----------------------------------------
 */
.slide-in-bck-center {
  -webkit-animation: slide-in-bck-center 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-bck-center 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-bck-center {
  0% {
    -webkit-transform: translateZ(600px);
    transform: translateZ(600px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes slide-in-bck-center {
  0% {
    -webkit-transform: translateZ(600px);
    transform: translateZ(600px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */

.scale-in-center {
  -webkit-animation: scale-in-center 0.8s cubic-bezier(0.37, 0.43, 0.47, 1.22) both;
  animation: scale-in-center 0.8s cubic-bezier(0.37, 0.43, 0.47, 1.22) both;
  // -webkit-animation: scale-in-center 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  // animation: scale-in-center 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2024-8-14 11:36:50
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
.puff-in-center {
  -webkit-animation: puff-in-center 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) both;
  animation: puff-in-center 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}
@-webkit-keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2024-8-15 9:15:30
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */

.slide-in-right {
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2024-8-15 9:16:30
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-top
 * ----------------------------------------
 */

.slide-in-top {
  -webkit-animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

// Autofill Background
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s;
  transition-delay: background-color 5000s, color 5000s;
}

::selection {
  background-color: $primary;
  color: white;
  // color: $secondary;
}

body {
  margin: 0;
  padding: 0;
}

img {
  -webkit-user-drag: none;
  user-select: none;
}

.mcontainer {
  display: flex;
  flex-direction: column;
  align-self: center;

  position: relative;
  // padding: 0 10px;
  color: $secondary;
  margin: 0 10px;
  width: 95%;
  max-width: 1800px;

  // height: 250px;
  // height: 100vh;
  flex: 1;

  @media (max-width: 700px) {
    align-self: center;
    padding: 0;
    margin: 0;
  }

  &__wrapper {
    position: relative;
    padding-top: 5px;
    background: #fdfdfd;
    border: #34495515 solid 1px;
    border-radius: 10px;
    padding-inline: 10px;
  }

  & &__title {
    font-family: "Anton", "Roboto", Impact, Helvetica;
    font-size: 25px;
    margin-bottom: 5px;
    position: relative;
    @media (max-width: 700px) {
      // display: none;
    }
  }

  // ? Table Properties
  &__table {
    border-radius: 10px;
    position: relative;
  }

  &__th-body {
    overscroll-behavior: none;
    height: calc(100vh - 20rem);
    margin-bottom: 5px;
  }

  &__th-body-category {
    height: calc(100vh - 380px);

    // max-height: 360px;
    // padding-bottom: 30px;
  }

  .tbl-cell {
    color: $text;
    font-size: small;
    white-space: nowrap;
    padding: 10px 20px;
    border-bottom: 3px solid $background;
    // border-left: 0.1px solid rgba(245, 245, 245, 0.925);
    // min-width: 200px;

    @media (max-height: 600px) {
      padding: 8px 20px;
    }
  }

  .tbl-cell-dark {
    color: $background;
    background-color: $secondary;
    font-size: smaller;
    white-space: nowrap;

    @media (max-height: 600px) {
      padding: 8px 20px;
    }
  }

  .tbl-cell-category {
    font-size: small;
    color: $text;
    padding: 8.5px 20px;
    border-bottom: 3px solid $background;
    overflow-y: overlay;
    // border-left: 0.1px solid rgba(245, 245, 245, 0.925);
    // min-width: 200px;

    @media (max-height: 600px) {
      padding: 8px 20px;
    }
  }

  .tbl-cell-fa {
    font-size: small;
    color: $text;
    padding: 17px 30px;
    gap: 10px;
    border-bottom: 3px solid $background;
    overflow-y: overlay;
    // border-left: 0.1px solid rgba(245, 245, 245, 0.925);
    // min-width: 200px;
    white-space: nowrap;

    // @media (max-height: 600px) {
    //   padding: 8px 20px;
    // }
  }

  .tbl-cell-fa-textbg {
    font-size: small;
    color: $text;
    padding: 17px 30px;
    gap: 10px;
    border-bottom: 3px solid $background;
    overflow-y: overlay;
    // border-left: 0.1px solid rgba(245, 245, 245, 0.925);
    // min-width: 200px;
    white-space: nowrap;
    // @media (max-height: 600px) {
    //   padding: 8px 20px;
    // }
  }

  .tbl-coa {
    text-align: center;
    padding: 20px;
    padding-right: 45px;
  }

  .tr-cen-pad45 {
    text-align: center;
    padding-right: 45px;
  }

  // ? Css Props
  .text-weight {
    font-weight: bold;
    color: $secondary;
  }

  .text-center {
    text-align: center;
  }

  .text-font {
    font-size: 12px;
    line-height: 12px;
  }

  // ? Pagination
  &__pagination {
    overscroll-behavior: none;
    box-shadow: 0px -3px 19px -10px rgba(166, 166, 166, 0.4);
    margin-inline: -8px;
  }

  &__pagination-export {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overscroll-behavior: none;
    box-shadow: 0px -3px 19px -10px rgba(166, 166, 166, 0.4);
    margin-inline: -10px;

    @media (max-width: 850px) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .tab__background {
    background: #fdfdfd;
    box-shadow: 0px -3px 19px -10px rgba(166, 166, 166, 0.4);
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid $background;
  }

  .category_height {
    height: calc(100vh - 255px);
  }
}

.skeleton__height {
  height: 46.5vh;
}

// .noRecordsFoundImg {
//   position: sticky;
//   left: calc(50% - (250px / 2));
//   min-height: 150px;
//   height: 200px;
//   width: 250px;
//   background: url("Img/SVG/ImgNoRecordsFound.svg") center / contain no-repeat;
// }

.tblLoading {
  position: sticky;
  left: calc(50% - (150px / 2));
  // margin: auto;
  // inset: 0;
  width: 150px;
}

.importFixedAsset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px 10px;
  gap: 20px;
}

.importBoxContainer {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  border: 2px dashed #ccc;
  border-radius: 15px;
  padding: 10px;
  height: 200px;
  // margin-bottom: 20px;
}

.importDrop {
  font-family: Anton, Roboto, Helvetica;
  font-size: 14px;
  color: $text;
  text-align: center;

  @media (max-width: 300px) {
    display: none;
  }
}

.columnErrorName,
.capitalized {
  text-transform: capitalize;
}

.pad {
  padding: 50px;
}
.capitalized {
  text-transform: capitalize;
}

// Attachment File
input::file-selector-button {
  display: none;
}

// input::placeholder {
//   color: gray;
// }

.centeredTableCell {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  // position: absolute;
  inset: 0;
  margin: 0 auto;
}

.tableWhiteText :hover :active {
  color: white;
}

.signCanvas {
  border: 1px solid $secondaryText;
  border-radius: 10px;
}

.rowItem {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.animateROw {
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
